{% use 'form_div_layout.html.twig' %}

{# Widgets #}

{% block form_start -%}
	{{- parent() -}}
	<div class="mt-6 is-flex is-flex-direction-column is-gap-1">
	{% endblock form_start %}

	{% block form_end -%}
	</div>
	{{- parent() -}}
{% endblock form_end %}

{% block form_row -%}
	{%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' col-span-full')|trim}) -%}
	{{- parent() -}}
{% endblock form_row %}

{% block form_label -%}
	{%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' is-size-6 mb-1')|trim}) -%}
	{{- parent() -}}
{% endblock form_label %}


{% block form_widget_simple -%}
	{% if type is not defined or type not in ['file', 'is-hidden'] %}
		{%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-text')|trim}) -%}
	{% endif %}
	{{- parent() -}}
{% endblock form_widget_simple %}
