{% use 'form_div_layout.html.twig' %}

{# Widgets #}

{# Bulma-friendly Form Theme #}

{% block form_start -%}
    {{ parent() }}
    <div class="mt-4">
{% endblock form_start %}

{% block form_end -%}
    </div>
    {{ parent() }}
{% endblock form_end %}

{% block form_row -%}
    <div class="field {{ (row_attr.class|default('')) }}">
        {{ form_label(form) }}
        <div class="control">
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_label -%}
    {% if label is not same as(false) %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label is-size-6 mb-1')|trim}) -%}
        {{ parent() }}
    {% endif %}
{% endblock form_label %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) -%}
    {% endif %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% block textarea_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' textarea')|trim}) -%}
    {{ parent() }}
{% endblock textarea_widget %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' select')|trim}) -%}
    <div class="select">
        {{ parent() }}
    </div>
{% endblock choice_widget_collapsed %}

{% block form_errors -%}
    {% if errors|length > 0 %}
        <p class="help is-danger">
            {% for error in errors %}
                {{ error.message }}<br>
            {% endfor %}
        </p>
    {% endif %}
{% endblock form_errors %}
