{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="flex justify-center w-full pt-20 pb-8">
		<div class="py-12 w-4/5 md:w-3/5 lg:w-2/5">
			<div class="pb-12">
				<h2 class="text-2xl font-semibold tc-sharp">Sign in</h2>
				<p class="p-1 mt-2 text-md tc-base">Enter your email address and password to sign into your account.</p>


				{{ form_start(loginForm) }}
				{{ form_row(loginForm.email, {'label': 'Email address', 'full_name': '_username', 'value': last_username, 'attr': { 'placeholder': 'Enter your email address...'}}) }}
				{{ form_row(loginForm.password, {'label': 'Password', 'full_name': '_password', 'attr': { 'placeholder': 'Enter your password...'}}) }}
				<!-- {{ form_row(loginForm.rememberMe, { 'label': 'Keep me logged in', 'full_name': '_remember_me' }) }} -->

				<div class="col-span-full">
					<label class="input-toggle">
						<input type="checkbox" name="_remember_me" value="1" class="sr-only peer">
						<div class="input-toggle-switch"></div>
						<span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Keep me logged in</span>
					</label>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="col-span-full justify-self-end">
					<button type="submit" class="btn btn-primary">
						Sign In
					</button>
				</div>

				{{ form_end(loginForm) }}

			</div>
		</div>
	</div>
{% endblock %}
