{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="flex justify-center w-full pt-20 pb-8">
		<div class="py-12 w-2/5">
			<div class="pb-12">
				<h2 class="text-2xl font-semibold text-gray-900">Sign in</h2>
				<p class="mt-1 text-md text-gray-600">Enter your email address and password to sign into your account.</p>


				{{ form_start(loginForm) }}
				{{ form_row(loginForm.email, {'label': 'Email address', 'full_name': '_username', 'value': last_username, 'attr': { 'placeholder': 'Enter your email address...'}}) }}
				{{ form_row(loginForm.password, {'label': 'Password', 'full_name': '_password', 'attr': { 'placeholder': 'Enter your password...'}}) }}
				{{ form_row(loginForm.rememberMe, { 'label': 'Keep me logged in', 'full_name': '_remember_me' }) }}

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="col-span-full justify-self-end">
					<button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						Sign In
					</button>
				</div>

				{{ form_end(loginForm) }}

			</div>
		</div>
	</div>
{% endblock %}
