{% extends "./base.html.twig" %}

{% block body %}
	{% if app.user %}
		<div class="p-10">
			<div id="boxedCardContainer" class="flex flex-wrap gap-2">
				<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
					<h2 class="text-xl font-semibold tc-sharp">Your repertoire</h2>
					<p class="p-1 mt-3 text-base tc-faded">Work on your opening repertoire.</p>
					<div class="flex flex-col grow justify-center items-start p-2">
						<p id="statsWhiteField" class="text-base tc-base py-0.5 pulse-skeleton">White:
							<span class="font-semibold">99 moves</span>
						</p>
						<p id="statsBlackField" class="text-base tc-base py-0.5 pulse-skeleton">Black:
							<span class="font-semibold">99 moves</span>
						</p>
					</div>
					<span class="boxed-card-arrow"></span>
				</div>
				<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
					<h2 class="text-xl font-semibold tc-sharp">Practice</h2>
					<p class="p-1 mt-3 text-base tc-faded">Practice your moves to keep improving.</p>
					<div class="flex flex-col grow justify-center items-start p-2">
						<p id="statsNewField" class="text-base tc-base py-0.5 pulse-skeleton">New:
							<span class="font-semibold">99 moves</span>
						</p>
						<p id="statsRecommendedField" class="text-base tc-base py-0.5 pulse-skeleton">Recommended:
							<span class="font-semibold">99 moves</span>
						</p>
					</div>
					<span class="boxed-card-arrow"></span>
				</div>
				<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
					<h2 class="text-xl font-semibold tc-sharp">Analysis</h2>
					<p class="p-1 mt-3 text-base tc-faded">Analyse your games from
						<span class="font-semibold tc-base">chess.com</span>
						and
						<span class="font-semibold tc-base">Lichess</span>
						for opening mistakes. You can then practice these moves and add them to your repertoire if you want.</p>
					<div class="flex flex-col grow justify-center items-start p-2">
						<p id="statsAnalysisField" class="text-base tc-base py-0.5 pulse-skeleton">Analysis:
							<span class="font-semibold">99 lines</span>
						</p>
					</div>
					<span class="boxed-card-arrow"></span>
				</div>
				{% if template.hasRepertoire() %}
					<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
						<h2 class="text-xl font-semibold tc-sharp">The Roadmap</h2>
						<p class="p-1 mt-3 text-base tc-faded">Use the roadmap to get an overview of your opening repertoire and see your accuracy for each line and variation.</p>
						<span class="boxed-card-arrow"></span>
					</div>
				{% endif %}
				<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
					<h2 class="text-xl font-semibold tc-sharp">Opponents</h2>
					<p class="p-1 mt-3 text-base tc-faded">Download your opponent's games and analyse them against your opening repertoire. Find their most played moves and see their win percentages for different moves.</p>
					<span class="boxed-card-arrow"></span>
				</div>
				<div class="boxed-card relative" style="width: 26rem; height: 13rem;">
					<h2 class="text-xl font-semibold tc-sharp">Settings</h2>
					<p class="p-1 mt-3 text-base tc-faded">Change the settings for the chess board, the piece animations and for analysing your games.</p>
					<span class="boxed-card-arrow"></span>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('chessboard') }}
	{{ encore_entry_link_tags('markers') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('home') }}
{% endblock %}
