{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="flex justify-center w-full pt-20 pb-8">
		<div class="py-12 w-2/5">
			<div class="pb-12">
				<h2 class="text-2xl font-semibold text-gray-900">Register</h2>
				<p class="mt-1 text-md text-gray-600">Enter your email address and a password to register your account.</p>


				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email, {'label': 'Email address', 'attr': { 'placeholder': 'Enter your email address...'}}) }}
				{{ form_row(registrationForm.plainPassword, {'label': 'Password', 'attr': { 'placeholder': 'Enter a password...'}}) }}

				{{ form_row(registrationForm.agreeTerms) }}

				<div class="col-span-full justify-self-end">
					<button type="submit" class="btn btn-primary">
						Register
					</button>
				</div>

				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>
{% endblock %}
