{% extends 'board.html.twig' %}

{% block board_header %}

	<div class="inline-flex rounded-md shadow-sm">
		<a href="/repertoire/white" class="px-4 py-2 text-sm font-medium {{ repertoireColor == 'white' ? 'text-primary-500' : 'text-gray-900 hover:text-primary-500' }} bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-primary-700 focus:text-primary-500 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-primary-500 dark:focus:text-white">
			White Repertoire
		</a>
		<a href="/repertoire/black" class="px-4 py-2 text-sm font-medium {{ repertoireColor == 'black' ? 'text-primary-500' : 'text-gray-900 hover:text-primary-500' }} bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-primary-700 focus:text-primary-500 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-primary-500 dark:focus:text-white">
			Black Repertoire
		</a>
	</div>
{% endblock %}

{% block board_top %}
	<button type="button" id="saveRepertoireButton" disabled class="btn btn-primary">
		Save to your repertoire
	</button>
{% endblock %}

{% block board_left %}
	<div id="board" class="border border-slate-300" data-color="{{ repertoireColor }}"></div>

{% endblock %}

{% block board_right %}

	<div class="border rounded border-slate-300 text-sm bg-white">
		<div class="flex justify-between items-center m-0 p-3 border-b border-slate-200">
			<p class="block text-sm font-bold text-gray-900">Game</p>
			<p id="statusField" class="block text-sm text-right text-gray-900 pl-5"></p>
		</div>
		<p id="pgnField" class="block text-base font-semibold text-gray-900 p-3"></p>
	</div>

	<div class="border rounded border-slate-300 text-sm bg-white">
		<div class="flex justify-between items-center m-0 p-3 border-b border-slate-200">
			<p class="block text-sm font-bold text-gray-900">Moves</p>
			<p id="ecoField" class="block text-sm text-right font-semibold text-gray-900 pl-5"></p>
		</div>

		<div style="overflow-y: auto; max-height: 50vh;">
			<div class="p-1">
				<p class="block text-base text-gray-900 p-2 hidden">No repertoire moves or book moves found.</p>

				<table id="movesTable" class="table-fixed min-w-full m-0">
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="repertoireContainer" class="hidden border rounded border-slate-300 text-sm bg-white">
		<div class="flex justify-between items-center m-0 p-0 border-b border-slate-200">
			<p class="block text-sm font-bold p-3 text-gray-900">Repertoire</p>
			<div class="pr-2"></div>
		</div>

		<div class="grid grid-cols-[_auto_1fr] gap-1 items-center p-3">
			<div class="mr-3">
				<label class="block text-sm font-medium text-gray-900">Group:</label>
			</div>
			<div class="w-full">
				<input id="repertoireGroupInput" list="repertoireGroupDataList" name="repertoire_group" placeholder="Add to group (select from list or press Enter to add)" class="block w-full rounded-md border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
				<datalist id="repertoireGroupDataList"></datalist>
			</div>
			<div></div>
			<div id="repertoireGroupTagsContainer" class="flex flex-wrap"></div>
		</div>

		<div class="flex justify-end p-3 pt-0">
			<button type="button" id="removeRepertoireButton" class="btn btn-primary">
				Remove from your repertoire
			</button>
		</div>
	</div>

	<div class="border rounded border-slate-300 text-sm bg-white hidden">
		<p class="block text-sm font-bold text-gray-900 p-3 border-b border-slate-200">FEN</p>

		<div id="fenField" class="p-3"></div>
	</div>

	{{ include('repertoire/dialogs/confirm.html.twig') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('repertoire') }}
{% endblock %}
