{% extends 'board.html.twig' %}

{% block board_header %}
	<div id="repertoireColorButtons" class="boxed-radio-menu">
		<div class="boxed-radio">
			<input class="peer hidden" type="radio" name="repertoire_color" value="white" id="whiteRepertoireRadio" {{ repertoireColor == 'black' ? '' : 'checked' }}/>
			<label class="boxed-radio-label" for="whiteRepertoireRadio"></label>
			<span class="boxed-radio-text peer-disabled:text-gray-300 peer-disabled:dark:text-gray-500">White</span>
		</div>
		<div class="boxed-radio">
			<input class="peer hidden" type="radio" name="repertoire_color" value="black" id="blackRepertoireRadio" {{ repertoireColor == 'black' ? 'checked' : '' }}/>
			<label class="boxed-radio-label" for="blackRepertoireRadio"></label>
			<span class="boxed-radio-text peer-disabled:text-gray-300 peer-disabled:dark:text-gray-500">Black</span>
		</div>
	</div>
{% endblock %}

{% block board_top %}
	<div class="flex justify-end mt-0 mb-2">
		<button type="button" id="loadPgnButton" disabled class="btn btn-primary mr-1">
			Load PGN
		</button>
		<button type="button" id="saveRepertoireButton" disabled class="btn btn-primary">
			Save to your repertoire
		</button>
	</div>
{% endblock %}

{% block board_left %}
	<div id="board" class="" data-color="{{ repertoireColor }}" data-fen="{{ repertoireFen }}" data-line="{{ repertoireLine }}"></div>

{% endblock %}

{% block board_right %}

	<div class="border rounded text-sm bg-tacao-100/50 dark:bg-slate-700 border-tacao-300/60 dark:border-slate-900">
		<div class="flex justify-between items-center m-0 p-3 border-b border-tacao-300/60 dark:border-slate-900">
			<p class="block text-sm font-bold tc-sharp">Game</p>
			<p id="statusField" class="block text-sm text-right tc-base tc-faded pl-5"></p>
		</div>
		<div class="flex items-center">
			<button id="gotoFirstButton" disabled class="shrink-0 w-7 h-7 my-2 ml-2 mr-1 tc-link-shade icon-[mdi--page-first]"></button>
			<div id="pgnField" class="py-3 pr-3 text-sm"></div>
		</div>
		<div id="pgnStartPositionContainer" class="hidden p-2 border-t border-tacao-300/60 dark:border-slate-900">
			<label class="p-2 block text-sm font-semibold tc-base whitespace-nowrap">Starting position:</label>
			<p class="p-2 pt-0 block text-sm w-full truncate tc-base"></p>
		</div>
		<div class="flex justify-end">
			<button type="button" id="closePgnButton" class="hidden m-3 mt-2 btn btn-outline">
				Close PGN
			</button>
		</div>
	</div>

	<div class="my-0.5 border rounded text-sm bg-tacao-100/50 dark:bg-slate-700 border-tacao-300/60 dark:border-slate-900">
		<div class="flex justify-between items-center m-0 p-3 border-b border-tacao-300/60 dark:border-slate-900">
			<p class="block text-sm font-bold tc-sharp">Moves</p>
			<p id="ecoField" class="block text-sm text-right font-semibold tc-base tc-faded pl-5"></p>
		</div>

		<div style="overflow-y: auto; overflow-x: hidden; max-height: 56vh;">
			<div class="p-1">
				<p class="block text-base tc-base p-3 hidden">No repertoire moves or book moves found.</p>

				<table id="movesTable" class="table-fixed min-w-full m-0">
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="engineContainer" class="hidden my-0.5 border rounded text-sm bg-tacao-100/50 dark:bg-slate-700 border-tacao-300/60 dark:border-slate-900">
		<div class="flex justify-between items-center m-0 p-3 border-b border-tacao-300/60 dark:border-slate-900">
			<p class="block text-sm font-bold tc-sharp">Engine</p>
			<p id="engineDepth" class="block text-xs font-medium tc-faded">depth</p>
			<label class="input-toggle" style="margin-inline-end: 0;">
				<input id="engineCheckbox" type="checkbox" class="sr-only peer">
				<div class="input-toggle-switch"></div>
			</label>
		</div>

		<div class="p-1">
			<p class="block text-base tc-base p-3 hidden">Start the engine to find the best moves.</p>

			<table id="engineTable" class="table-fixed min-w-full m-0">
				<tbody></tbody>
			</table>
		</div>
	</div>

	<div id="repertoireContainer" class="hidden my-0.5 border rounded text-sm bg-tacao-100/50 dark:bg-slate-700 border-tacao-300/60 dark:border-slate-900">
		<div class="flex justify-between items-center m-0 p-0 border-b border-tacao-300/60 dark:border-slate-900">
			<p class="block text-sm font-bold p-3 tc-sharp">Repertoire</p>
			<div class="pr-2"></div>
		</div>

		<div class="w-full p-3">
			<div class="py-1">
				<label class="input-toggle">
					<input id="repertoireAutoPlayCheckbox" type="checkbox" class="sr-only peer">
					<div class="input-toggle-switch"></div>
					<div class="ml-2">
						<p class="text-base font-normal tc-base">Auto-play this move in practice</p>
					</div>
				</label>
			</div>
			<div class="mb-1 py-1">
				<label class="input-toggle">
					<input id="repertoireExcludeCheckbox" type="checkbox" class="sr-only peer">
					<div class="input-toggle-switch"></div>
					<div class="ml-2">
						<p class="text-base font-normal tc-base">Temporarily exclude this line from practice</p>
					</div>
				</label>
			</div>
			<div class="mb-2">
				<label class="block text-sm font-medium tc-base">Group:</label>
			</div>
			<div class="w-full mb-1">
				<input id="repertoireGroupInput" type="search" list="repertoireGroupDataList" name="repertoire_group" placeholder="Type and press Enter to add or select from list..." class="input-text-faded">
				<datalist id="repertoireGroupDataList"></datalist>
			</div>
			<div id="repertoireGroupTagsContainer" class="flex flex-wrap"></div>
		</div>

		<div class="flex justify-end p-3 pt-0">
			<button type="button" id="removeRepertoireButton" class="btn btn-outline">
				Remove from your repertoire
			</button>
		</div>
	</div>

	<div id="initialFenContainer" class="hidden border my-0.5 rounded text-sm bg-tacao-100/50 dark:bg-slate-700 border-tacao-300/60 dark:border-slate-900">
		<p class="block text-sm font-bold p-3 border-b tc-sharp border-tacao-300/60 dark:border-slate-900">Starting position</p>

		<div class="p-3">
			<div class="relative inline-block">
				<select id="initialFenSelect" class="appearance-none inline-block w-full rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"></select>
				<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
					<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				</div>
			</div>
		</div>

	</div>

	<div class="flex justify-end mt-2">
		<button type="button" id="analyseGameButton" disabled class="btn btn-primary">
			Analyse on Lichess
		</button>
	</div>


	{{ include('repertoire/dialogs/confirm.html.twig') }}
	{{ include('repertoire/dialogs/loadpgn.html.twig') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('repertoire') }}
{% endblock %}
