{% extends "./base.html.twig" %}

{% block body %}
	<div class="is-flex is-justify-content-space-around p-4">
		<div id="settingsTabButtons" data-element="yes" class="boxed-radio-menu">
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="settings_tab" value="board" id="settingsBoardRadio" data-element="yes" checked/>
				<label class="boxed-radio-label" for="settingsBoardRadio"></label>
				<span class="boxed-radio-text">Board</span>
			</div>
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="settings_tab" value="engine" id="settingsEngineRadio" data-element="yes"/>
				<label class="boxed-radio-label" for="settingsEngineRadio"></label>
				<span class="boxed-radio-text">Engine</span>
			</div>
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="settings_tab" value="engine" id="settingsPracticeRadio" data-element="yes"/>
				<label class="boxed-radio-label" for="settingsPracticeRadio"></label>
				<span class="boxed-radio-text">Practice</span>
			</div>
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="settings_tab" value="engine" id="settingsAccountRadio" data-element="yes"/>
				<label class="boxed-radio-label" for="settingsAccountRadio"></label>
				<span class="boxed-radio-text">Account</span>
			</div>
		</div>
	</div>

	<div class="w-medium mx-auto is-flex is-justify-content-space-around mt-6">
		<div id="settingsTabBoard" class="box is-flex is-flex-direction-column p-5">
			<h2 class="title is-size-5 mb-4">Board Settings</h2>
			<div class="is-flex is-flex-direction-row is-align-items-flex-start is-justify-content-space-between is-gap-2">
				<div class="is-flex is-gap-2">
					<div class="is-flex is-align-items-center is-gap-1">
						<div class="field">
  							<label class="label">Theme</label>
  							<div class="control">
								<div class="select">
									<select id="boardThemeSelect" data-element="yes">
										<option value="chess-club">Chess Club</option>
										<option value="green">Green</option>
										<option value="blue">Blue</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="is-flex is-align-items-center is-gap-1">
						<div class="field">
							<label class="label">Pieces</label>
							<div class="control">
								<div class="select">
									<select id="boardPiecesSelect" data-element="yes">
										<option value="standard.svg">Standard</option>
										<option value="companion.svg">Companion</option>
										<option value="gioco.svg">Gioco</option>
										<!--<option value="horsey.svg">Horsey</option>-->
										<option value="kiwen-suwi.svg">Kiwen-Suwi</option>
										<option value="monarchy.svg">Monarchy</option>
										<option value="staunty.svg">Staunty</option>
										<option value="tatiana.svg">Tatiana</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="field">
						<label class="label mb-1">Animation Duration</label>
						<div class="control">
							<div class="range-container-text-below mt-2">
								<div class="range-text">
									<span class="is-size-7">0ms</span>
									<span class="is-size-7">500ms</span>
								</div>
								<input id="animationDuration" data-element="yes" type="range" min="0" max="500" step="50" value="300" style="width: 12rem;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="is-flex mt-4">
				<div class="skeleton-container">
					<div class="skeleton-block skeleton-full"></div>
					<div id="board" data-element="yes" class="settings-board"></div>
				</div>
			</div>
		</div>

		<div id="settingsTabEngine" class="is-hidden box p-5">
			<h2 class="title is-size-5 mb-4">Repertoire</h2>
			<div id="animationSettingsContainer" class="is-flex is-flex-direction-column is-align-items-stretch">
				<div class="w-full">
					<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
						<label class="label mb-0">Max. Search Time</label>
						<span class="range-container-text-above">
							<div class="range-text">
								<span class="is-size-7">10s</span>
								<span class="is-size-7">2m</span>
							</div>
							<input id="repertoireEngineTime" data-element="yes" type="range" min="10" max="120" step="10" value="30" style="width: 12rem;">
						</span>
					</div>
					<div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-align-items-flex-end">
						<p class="p-1 my-1">The maximum amount of time the engine can search a position when being used in the repertoire.</p>
					</div>
				</div>
				<h2 class="title is-size-5 mt-5 mb-4">Analysis</h2>
				<div class="w-full">
					<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
						<label class="label mb-0">Search Time / Move</label>
						<span class="range-container-text-above">
							<div class="range-text">
								<span class="is-size-7">500ms</span>
								<span class="is-size-7">5s</span>
							</div>
							<input id="analyseEngineTime" data-element="yes" type="range" min="500" max="5000" step="500" value="1000" style="width: 12rem;">
						</span>
					</div>
					<div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-align-items-flex-end">
						<p class="p-1 my-1">The amount of time the engine will use for each move that needs to be evaluated when analysing your games.</p>
					</div>
				</div>
				<div class="w-full mt-4">
					<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
						<label class="label mb-0">Mistake Tolerance</label>
						<span class="range-container-text-above">
							<div class="range-text">
								<span class="is-size-7">Strict</span>
								<span class="is-size-7">Lenient</span>
							</div>
							<input id="analyseMistakeTolerance" data-element="yes" type="range" min="0" max="2" step="1" value="0" style="width: 12rem;">
						</span>
					</div>
					<div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-align-items-flex-end">
						<p class="p-1 my-1">Determines when to stop analysing your games based on the centipawn loss.</p>
					</div>
				</div>
				<div class="w-full mt-4">
					<label class="label is-flex is-align-items-flex-start">Inaccuracies</label>
					<p class="p-1 mb-2">When analysing your games, you can choose to ignore the inaccuracies. Only mistakes and blunders will be added to your analysis practice run.</p>
					<label class="toggle">
						<input id="analyseIgnoreInaccuracy" data-element="yes" type="checkbox" name="animate_complete" value="1" class="sr-only peer">
						<div class="knob"></div>
						<div class="toggle-label">
							<p class="is-size-6">Ignore inaccuracies during analysis.</p>
							<p class="is-size-7">Only count mistakes and blunders.</p>
						</div>
					</label>
				</div>
			</div>
		</div>

		<div id="settingsTabPractice" class="is-hidden box p-5">
			<h2 class="title is-size-5 mb-4">Practice Settings</h2>
			<div id="variationSettingsContainer" class="is-flex is-flex-direction-column is-align-items-flex-start">
				<div class="w-full">
					<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
						<label class="label mb-0">Recommend Moves</label>
						<span class="range-container-text-above">
							<div class="range-text">
								<span class="is-size-7">Less</span>
								<span class="is-size-7">More</span>
							</div>
							<input id="recommendInterval" data-element="yes" type="range" min="0" max="3" step="1" value="0" style="width: 12rem;">
						</span>
					</div>
					<div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-align-items-flex-end">
						<p class="p-1 my-1">The amount of moves that will be recommended based on success rate and frequency.</p>
					</div>
				</div>
				<div class="w-full mt-4">
					<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
						<label class="label mb-0">Balloons</label>
						<span class="range-container-text-above">
							<div class="range-text">
								<span class="is-size-7">I feel no joy</span>
								<span class="is-size-7">Yay</span>
							</div>
							<input id="balloonsAmount" data-element="yes" type="range" min="0" max="3" step="1" value="0" style="width: 12rem;">
						</span>
					</div>
					<div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-align-items-flex-end">
						<p class="p-1 my-1">The amount of balloons that will be flown in celebration of a perfect practice score.</p>
					</div>
				</div>
				<div class="w-full mt-4">
					<label class="label">Animate Variations</label>
					<p class="p-1 mb-2">Each line is animated from the beginning of that line. Any variations that follow can be animated from the start of the variation or from the beginning of the line.</p>
					<label class="toggle">
						<input id="animateVariation" data-element="yes" type="checkbox" value="1" class="sr-only">
						<div class="knob"></div>
						<div class="toggle-label">
							<p class="is-size-6">Animate from the beginning of the line.</p>
							<p class="is-size-7">Instead of from the start of the variation.</p>
						</div>
					</label>
				</div>
			</div>
		</div>

		<div id="settingsTabAccount" class="is-hidden box w-full p-5">
			<h2 class="title is-size-5 mb-4">User Account</h2>
			<div class="field mb-0">
				<label class="label mb-2">Email address</label>
				<div class="control">
					<div class="is-flex is-align-items-center is-gap-1">
						<input id="accountEmailAddress" data-element="yes" disabled type="email" value="" class="input">
						<button id="unlockEmailAddressButton" data-element="yes" type="button" class="button-icon-hover">
							<span class="icon">
								<i class="fa-solid fa-lock"></i>
							</span>
							<span class="icon">
								<i class="fa-solid fa-lock-open"></i>
							</span>
						</button>
					</div>
				</div>
			</div>
				
			<div id="accountConfirmContainer" data-element="yes" class="is-hidden mt-5">
				<article class="message is-info">
					<div class="message-body">
						Your new email address needs to be verified. Click on the link below to send a verification email and follow the instructions to confirm your changes.
					</div>
				</article>
				<button id="sendVerificationEmailButton" data-element="yes" type="button" class="button is-primary">Send the verification email</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('styles/chessboard.css') }}">
	<link rel="stylesheet" href="{{ asset('markers/markers.css') }}">
	<link rel="stylesheet" href="{{ asset('arrows/arrows.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/settings.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script type="module" src="{{ asset('js/settings.js') }}"></script>
{% endblock %}
