<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Chess Repertoire
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<!-- Font awesome solid icons -->
			<link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}">
			<!-- Notyf toasts -->
			<link rel="stylesheet" href="{{ asset('vendor/notyf/notyf.min.css') }}">
			<!-- Our stylesheet -->
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
		{% block javascripts %}
			<!-- Notyf toasts -->
			<script src="{{ asset('vendor/notyf/notyf.min.js') }}"></script>
		{% endblock %}
	</head>
	<body style="--bg-image: url('{{ asset('images/pexels-seraphim-tsounis-283679744-14409978.jpg') }}');">
		<div class="body-background"></div>
		{% block header %}
			<header class="page-header">
				<nav class="nav-bar">
					<!-- Logo -->
					<div class="is-flex is-align-items-center p-1">
						<img src="{{ asset('images/chess-repertoire-logo.svg') }}" alt="" class="logo"/>
					</div>

					<!-- Navigation & Logout/Register -->
					<div class="is-flex is-align-items-stretch">
						<!-- Navigation Links -->
						<div class="navbar-hover-menu">
							{% if app.user %}
								<a href="{{ path('home') }}" class="is-icon" title="Home">
									<i class="fa-solid fa-house"></i>
								</a>
								<a href="{{ path('repertoire') }}" class="is-icon" title="Repertoire">
									<i class="fa-solid fa-chess-board"></i>
								</a>
								{% if template.hasRepertoire() %}
									<a href="{{ path('practice') }}" class="is-icon" title="Practice">
										<i class="fa-solid fa-gamepad"></i>
									</a>
								{% else %}
									<span class="is-icon is-disabled">
										<i class="fa-solid fa-gamepad"></i>
									</span>
								{% endif %}
								{% if template.hasRepertoire() %}
									<a href="{{ path('roadmap') }}" class="is-icon" title="Roadmap">
										<i class="fa-solid fa-map-pin"></i>
									</a>
								{% else %}
									<span class="is-icon is-disabled" title="Roadmap">
										<i class="fa-solid fa-map-pin"></i>
									</span>
								{% endif %}
								<!--
								<a href="{{ path('analyse') }}" class="is-icon" title="Analyse">
									<i class="fa-solid fa-magnifying-glass-chart"></i>
								</a>
								<a href="{{ path('opponent') }}" class="is-icon" title="Opponents">
									<i class="fa-solid fa-people-arrows"></i>
								</a>
								-->
								<a href="{{ path('settings') }}" class="is-icon" title="Settings">
									<i class="fa-solid fa-screwdriver-wrench"></i>
								</a>
							{% endif %}

							<div class="is-icon checkbox-switch">
								<input type="checkbox" id="lightSwitchCheckbox" class="light-switch"/>
								<label class="" for="lightSwitchCheckbox">
									<a title="Switch to light mode" class="checkbox-switch-on">
										<i class="fa-regular fa-sun"></i>
									</a>
									<a title="Switch to dark mode" class="checkbox-switch-off">
										<i class="fa-regular fa-moon"></i>
									</a>
								</label>
							</div>

							<!-- Logout/Register -->
							<div class="px-4">
								{% if app.user %}
									<a href="{{ path('logout') }}" class="py-2 is-size-6 is-uppercase">
										Logout
									</a>
								{% else %}
									<a href="{{ path('register') }}" class="button is-primary is-uppercase">
										Sign up for free
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
				{% block header_bottom %}{% endblock %}
			</header>
		{% endblock %}

		<!-- main content div with default padding -->
		<div class="main-content"> {% block body %}{% endblock %}
			</div>

			{% block footer %}
			{% endblock %}

			<div id="pageLoader" class="is-hidden">
				<div class="is-hidden loader-dots-rotate-in-circle"></div>
				<div class="loader-bars-in-circle"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
				<div class="is-hidden loader-dots-pulse-in-circle"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			</div>
		</body>
	</html>
