{% extends 'board.html.twig' %}

{% block board_header %}
	<div id="practiceRepertoireButtons" class="relative inline-flex rounded-md shadow-sm">
		<div>
			<input type="radio" id="repertoireWhite" checked name="repertoire_type" value="white" class="sr-only peer">
			<label for="repertoireWhite" class="cursor-pointer inline-block rounded-s-lg text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				White
			</label>
		</div>
		<div>
			<input type="radio" id="repertoireBlack" checked name="repertoire_type" value="black" class="sr-only peer">
			<label for="repertoireBlack" class="cursor-pointer inline-block text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				Black
			</label>
		</div>
		<div>
			<input type="radio" id="repertoireNew" checked name="repertoire_type" value="new" class="sr-only peer">
			<label for="repertoireNew" class="cursor-pointer inline-block whitespace-nowrap text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				New
				<sup class="font-normal pl-px"></sup>
			</label>
		</div>
		<div>
			<input type="radio" id="repertoireRecommended" checked name="repertoire_type" value="recommended" class="sr-only peer">
			<label for="repertoireRecommended" class="cursor-pointer inline-block whitespace-nowrap text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				Recommended
				<sup class="font-normal pl-px"></sup>
			</label>
		</div>
		<div>
			<input type="radio" id="repertoireAll" checked name="repertoire_type" value="all" class="sr-only peer">
			<label for="repertoireAll" class="peer/all cursor-pointer inline-block text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				All
			</label>
		</div>
		<div>
			<input type="radio" id="repertoireAnalysis" name="repertoire_type" value="analysis" class="sr-only peer">
			<label for="repertoireAnalysis" class="cursor-pointer inline-block whitespace-nowrap rounded-e-lg text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 peer-disabled:text-gray-300 dark:peer-disabled:text-gray-500 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-500 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
				Analysis
				<sup class="font-normal pl-px"></sup>
			</label>
		</div>
	</div>
{% endblock %}

{% block board_top %}
	<div class="flex justify-between items-center mt-0 mb-2">
		<div id="practiceGroupContainer" style="hidden flex items-center max-width: 75vh;">
			<span class="text-xs dark:text-gray-300 pr-2">
				Group:
			</span>
			<div class="relative inline-block">
				<select id="practiceGroupSelect" class="text-xs appearance-none inline-block w-full rounded-md border-0 py-1 pl-2 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 dark:text-gray-300 dark:bg-slate-900 dark:ring-slate-500 sm:text-xs sm:leading-6">
					<option>No groups available</option>
				</select>
				<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
					<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				</div>
			</div>
		</div>
		<div></div>
		<div id="practiceCountersContainer" class="hidden flex items-center">
			<div class="flex items-center bg-indigo-500 rounded-md">
				<div class="flex items-center justify-center bg-white text-indigo-500 rounded-full w-5 h-5 m-1.5">
					<span class="icon-[mdi--chess-queen]"></span>
				</div>
				<div id="practiceMoveCounter" class="text-sm text-center font-semibold text-white ml-0.5 mr-3"></div>
			</div>
			<div class="flex items-center bg-secondary-500 rounded-md mx-1">
				<div class="flex items-center justify-center bg-white text-secondary-500 rounded-full w-5 h-5 m-1.5">
					<span class="icon-[mdi--check-bold]"></span>
				</div>
				<div id="practiceCorrectCounter" class="text-sm text-center font-semibold text-white ml-0.5 mr-3"></div>
			</div>
			<div class="flex items-center bg-red-500 rounded-md">
				<div class="flex items-center justify-center bg-white text-red-500 rounded-full w-5 h-5 m-1.5">
					<span class="icon-[mdi--cancel-bold]"></span>
				</div>
				<div id="practiceFailedCounter" class="text-sm text-center font-semibold text-white ml-0.5 mr-3"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block board_left %}
	<div id="board" class="" data-type="{{ repertoireType }}"></div>
{% endblock %}

{% block board_right %}
	<div class="mb-px border rounded overflow-hidden border-slate-300 dark:border-slate-900">
		<div id="infoContainer" class="flex items-center rounded p-3 min-h-16 bg-yellow-100 text-yellow-700 border-l-[6px] border-l-yellow-400" role="alert">
			<span></span>
			<span class="text-base font-medium px-3 block sm:inline">To start your practice, click the button below.</span>
		</div>
		<div id="confirmContainer" class="hidden flex items-center rounded p-3 min-h-16 bg-secondary-100 text-secondary-700 border-l-[6px] border-l-secondary-400" role="alert">
			<span class="text-secondary-500 w-7 h-7 shrink-0 icon-[mdi--check-circle-outline]"></span>
			<span class="text-base font-medium px-3 block sm:inline"></span>
		</div>
		<div id="warningContainer" class="hidden flex items-center rounded p-3 min-h-16 bg-red-100 text-red-700 border-l-[6px] border-l-red-400" role="alert">
			<span class="text-red-500 w-7 h-7 shrink-0 icon-[mdi--error-outline]"></span>
			<span class="text-base font-medium px-3 block sm:inline"></span>
		</div>
		<div id="hintContainer" class="hidden flex items-center mt-1 rounded p-3 min-h-16 bg-primary-100 text-primary-700 border-l-[6px] border-l-primary-400" role="alert">
			<span class="text-primary-500 w-7 h-7 shrink-0 icon-[mdi--information-slab-circle-outline]"></span>
			<span class="text-base font-medium px-3 block sm:inline"></span>
		</div>
	</div>

	<div class="flex justify-end my-2">
		<button type="button" id="startPracticeButton" disabled class="btn btn-primary">
			Start your practice
		</button>
		<button type="button" id="giveHintButton" title="Hint" disabled class="hidden btn btn-primary mr-1">
			<span class="w-6 h-6 icon-[mdi--lightbulb-on-outline]"></span>
		</button>
		<button type="button" id="skipMoveButton" title="Skip this move" disabled class="hidden btn btn-primary mr-1">
			<span class="w-6 h-6 icon-[mdi--next-title]"></span>
		</button>
		<div class="flex">
			<input type="checkbox" id="showPracticeInfoButton" value="1" class="peer hidden">
			<label for="showPracticeInfoButton" title="Toggle info" class="hidden select-none btn btn-primary mr-1 peer-checked:btn-checked">
				<span class="w-6 h-6 icon-[mdi--information-slab-circle-outline]"></span>
			</label>
		</div>
		<div id="analysisGameButtons" class="hidden flex">
			<button type="button" id="analysisSaveButton" title="Save" disabled class="btn btn-primary" title="Save this move to your repertoire and discard it.">
				<span class="w-6 h-6 icon-[mdi--content-save-outline]"></span>
			</button>
			<button type="button" id="analysisIgnoreButton" title="Not a mistake" disabled class="btn btn-primary mx-1" title="This move will be ignored in future analysis.">
				<span class="w-6 h-6 icon-[mdi--checkbox-marked-circle-plus-outline]"></span>
			</button>
			<button type="button" id="analysisDiscardButton" title="Discard" disabled class="btn btn-primary" title="Delete this move from the analysis lines.">
				<span class="w-6 h-6 icon-[mdi--delete-outline]"></span>
			</button>
		</div>
	</div>

	<div id="playedMovesContainer" class="hidden my-px border rounded bg-white dark:bg-slate-700 border-slate-300 dark:border-slate-900 text-sm">
		<p class="block text-sm font-bold text-gray-900  dark:text-gray-200 p-3 border-b border-slate-300 dark:border-slate-900">Moves</p>
		<div id="playedMovesList" class="px-2 text-sm">
			<div class="text-base border-b border-slate-200 dark:border-slate-900 p-2">1. _</div>
			<div class="text-base p-2">1. _</div>
		</div>
	</div>

	<div id="pgnContainer" class="hidden my-px border rounded bg-white dark:bg-slate-700 border-slate-300 dark:border-slate-900 text-sm">
		<div class="flex justify-between items-center m-0 border-b border-slate-300 dark:border-slate-900">
			<p class="block text-sm p-3 font-bold text-gray-900 dark:text-gray-200">PGN</p>
			<div id="pgnNavigationContainer" class="flex items-center px-3">
				<button class="w-6 h-6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 disabled:text-gray-300 dark:disabled:text-gray-600 icon-[mdi--page-first]"></button>
				<button class="w-6 h-6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 disabled:text-gray-300 dark:disabled:text-gray-600 icon-[mdi--navigate-before]"></button>
				<button class="w-6 h-6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 disabled:text-gray-300 dark:disabled:text-gray-600 icon-[mdi--navigate-next]"></button>
				<button class="w-6 h-6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 disabled:text-gray-300 dark:disabled:text-gray-600 icon-[mdi--page-last]"></button>
			</div>
		</div>
		<div id="pgnField" class="p-3 text-sm"></div>
	</div>

	<div id="analysisGameContainer" class="hidden my-px">
		<div class="border rounded text-sm bg-white dark:bg-slate-700 border-slate-300 dark:border-slate-900">
			<p class="block text-sm font-bold text-gray-900 dark:text-gray-200 p-3 border-b border-slate-300 dark:border-slate-900">Game</p>
			<div id="analysisGameFields" class="grid grid-cols-[_auto_1fr] items-center p-2">
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">Opponent:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">Move:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">FEN:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">Link:</label>
				<a href="#" target="_blank" class="p-2 text-sm w-full truncate text-gray-700 hover:text-gray-400 dark:text-gray-200 dark:hover:text-gray-500"></a>
			</div>
		</div>
	</div>

	<div id="practiceInfoContainer" class="hidden my-px">
		<div class="border rounded text-sm bg-white dark:bg-slate-700 border-slate-300 dark:border-slate-900">
			<p class="block text-sm font-bold text-gray-900 dark:text-gray-200 p-3 border-b border-slate-300 dark:border-slate-900">Info</p>
			<div id="practiceInfoFields" class="grid grid-cols-[_auto_1fr] items-center p-2">
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">ECO:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">PGN:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">FEN:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
				<label class="p-2 text-xs font-semibold text-gray-700 dark:text-gray-400 whitespace-nowrap">Stats:</label>
				<p class="p-2 text-sm w-full truncate text-gray-700 dark:text-gray-200"></p>
			</div>
		</div>

		<div class="flex justify-end mt-2">
			<button type="button" id="analyseGameButton" class="btn btn-primary">
				Analyse on Lichess
			</button>
		</div>
	</div>

{% endblock %}

{% block body_end %}
	{{ include('practice/dialogs/save.html.twig') }}
	{{ include('practice/dialogs/ignore.html.twig') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('practice') }}
{% endblock %}
