{% extends 'board.html.twig' %}

{% block board_header %}
	<div id="practiceRepertoireButtons" data-element="yes" class="boxed-radio-menu">
		<div class="boxed-radio">
			<input id="repertoireWhite" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="white"/>
			<label class="boxed-radio-label" for="repertoireWhite"></label>
			<span class="boxed-radio-text">White</span>
		</div>
		<div class="boxed-radio">
			<input id="repertoireBlack" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="black"/>
			<label class="boxed-radio-label" for="repertoireBlack"></label>
			<span class="boxed-radio-text">Black</span>
		</div>
		<div class="boxed-radio is-hidden">
			<input id="repertoireNew" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="new"/>
			<label class="boxed-radio-label" for="repertoireNew"></label>
			<span class="boxed-radio-text is-flex is-align-items-center">
				New
				<sup id="repertoireNewCount" data-element="yes" class="pl-1"></sup>
			</span>
		</div>
		<div class="boxed-radio">
			<input id="repertoireRecommended" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="recommended"/>
			<label class="boxed-radio-label" for="repertoireRecommended"></label>
			<span class="boxed-radio-text is-flex is-align-items-center">
				Recommended
				<span id="repertoireRecommendedRefresh" data-element="yes" class="is-hidden icon ml-1">
					<i class="fa-solid fa-arrows-rotate"></i>
				</span>
				<sup id="repertoireRecommendedCount" data-element="yes" class="pl-1"></sup>
			</span>
		</div>
		<div class="boxed-radio">
			<input id="repertoireAll" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="all" checked/>
			<label class="boxed-radio-label" for="repertoireAll"></label>
			<span class="boxed-radio-text">All</span>
		</div>
		<div class="boxed-radio">
			<input id="repertoireAnalysis" data-element="yes" class="is-hidden" type="radio" name="repertoire_type" value="analysis"/>
			<label class="boxed-radio-label" for="repertoireAnalysis"></label>
			<span class="boxed-radio-text is-flex is-align-items-center">
				Analysis
				<sup id="repertoireAnalysisCount" data-element="yes" class="pl-1"></sup>
			</span>
		</div>
	</div>

	<div id="practiceCustomRepertoireField" data-element="yes" class="is-hidden boxed-radio-menu">
		<div class="boxed-radio">
			<span class="px-2"></span>
		</div>
	</div>
{% endblock %}

{% block board_top %}
	<div class="is-flex is-justify-content-space-between is-align-items-center mt-0 mb-2">
		<div id="practiceGroupContainer" data-element="yes" class="is-hidden is-flex is-align-items-center" style="max-width: 75vh;">
			<span class="is-size-6 pr-2">Group:</span>
			<div class="select">
				<select id="practiceGroupSelect" data-element="yes">
					<option>No groups available</option>
				</select>
			</div>
		</div>
		<div></div>
		<div id="practiceCountersContainer" data-element="yes" class="is-hidden is-flex is-align-self-flex-end is-align-items-center pt-3">
			<div class="tag is-medium is-info mr-1">
				<div class="icon">
					<i class="fa-solid fa-chess-queen"></i>
				</div>
				<span id="practiceMoveCounter" data-element="yes"></span>
			</div>
			<div class="tag is-medium is-success mr-1">
				<div class="icon">
					<i class="fa-solid fa-check"></i>
				</div>
				<span id="practiceCorrectCounter" data-element="yes"></span>
			</div>
			<div class="tag is-medium is-danger">
				<div class="icon">
					<i class="fa-solid fa-xmark"></i>
				</div>
				<span id="practiceFailedCounter" data-element="yes"></span>
			</div>
		</div>
	</div>
{% endblock %}

{% block board_left %}
	<div class="skeleton-container board-left-container">
		<div class="skeleton-block skeleton-full"></div>
		<div id="board" data-element="yes" data-type="{{ repertoireType }}" data-id="{{ repertoireId }}"></div>
	</div>
{% endblock %}

{% block board_right %}
	<div id="infoContainer" data-element="yes" class="message is-info mb-1">
		<div class="message-body" role="alert">
			<span class="icon is-small">
				<i class="fa-solid fa-circle-info"></i>
			</span>
			<span class="ml-1">To start your practice, click the button below.</span>
		</div>
	</div>
	<div id="confirmContainer" data-element="yes" class="is-hidden message is-success mb-1">
		<div class="message-body" role="alert">
			<span class="icon is-small">
				<i class="fa-solid fa-circle-check"></i>
			</span>
			<span class="ml-1"></span>
		</div>
	</div>
	<div id="warningContainer" data-element="yes" class="is-hidden message is-danger mb-1">
		<div class="message-body" role="alert">
			<span class="icon is-small">
				<i class="fa-solid fa-triangle-exclamation"></i>
			</span>
			<span class="ml-1"></span>
		</div>
	</div>
	<div id="hintContainer" data-element="yes" class="is-hidden message is-warning mb-1">
		<div class="message-body" role="alert">
			<span class="icon is-small">
				<i class="fa-solid fa-lightbulb"></i>
			</span>
			<span class="ml-1"></span>
		</div>
	</div>

	<div class="is-flex is-justify-content-flex-end my-2">
		<button type="button" id="startPracticeButton" data-element="yes" disabled class="button is-primary">
			Start your practice
		</button>
		<button type="button" id="giveHintButton" data-element="yes" title="Hint" disabled class="is-hidden button is-primary mr-1">
			<icon>
				<i class="fa-solid fa-lightbulb"></i>
			</icon>
		</button>
		<button type="button" id="prevMoveButton" data-element="yes" title="Previous move" disabled class="is-hidden button is-primary mr-1">
			<i class="fa-solid fa-backward-step"></i>
		</button>
		<button type="button" id="skipMoveButton" data-element="yes" title="Skip this move" disabled class="is-hidden button is-primary mr-1">
			<i class="fa-solid fa-forward-step"></i>
		</button>
		<div class="is-flex">
			<input type="checkbox" class="is-hidden is-button-checkbox" id="showPracticeInfoButton" data-element="yes" value="1">
			<label for="showPracticeInfoButton" title="Toggle info" class="is-hidden button is-primary mr-1">
				<i class="fa-solid fa-circle-info"></i>
			</label>
		</div>
		<div id="analysisGameButtons" class="is-hidden is-flex">
			<button type="button" id="analysisSaveButton" data-element="yes" title="Save to repertoire" disabled class="button is-primary">
				<i class="fa-solid fa-floppy-disk"></i>
			</button>
			<button type="button" id="analysisIgnoreButton" data-element="yes" title="Not a mistake" disabled class="button is-primary mx-1">
				<i class="fa-solid fa-ban"></i>
			</button>
			<button type="button" id="analysisDiscardButton" data-element="yes" title="Discard" disabled class="button is-primary">
				<i class="fa-solid fa-trash"></i>
			</button>
		</div>
	</div>

	<div id="playedMovesContainer" data-element="yes" class="is-hidden box p-0">
		<p class="box-header has-text-weight-semibold">Moves</p>
		<div id="playedMovesList" data-element="yes" class="p-2">
			<div class="border-b border-tacao-200 dark:border-slate-900 p-2">1. _</div>
			<div class="p-2">1. _</div>
		</div>
	</div>

	<div id="pgnContainer" data-element="yes" class="is-hidden box p-0">
		<div class="box-header">
			<p class="has-text-weight-semibold">PGN</p>
			<div id="pgnNavigationContainer" data-element="yes" class="is-flex is-align-items-center pl-3">
				<button class="button is-small">
					<span class="icon">
						<i class="fa-solid fa-backward-step"></i>
					</span>
				</button>
				<button class="button is-small">
					<span class="icon">
						<i class="fa-solid fa-backward"></i>
					</span>
				</button>
				<button class="button is-small">
					<span class="icon">
						<i class="fa-solid fa-forward"></i>
					</span>
				</button>
				<button class="button is-small">
					<span class="icon">
						<i class="fa-solid fa-forward-step"></i>
					</span>
				</button>
			</div>
		</div>
		<div id="pgnField" data-element="yes" class="pgn-moves-container p-3 is-size-6"></div>
	</div>

	<div id="suggestionContainer" data-element="yes" class="is-hidden box p-0">
		<p class="box-header has-text-weight-semibold">Suggestion</p>
		<div class="is-flex is-align-items-center p-2">
			<div id="suggestionField" data-element="yes" class="p-2"></div>
			<button id="suggestionSubmitButton" data-element="yes" type="button" class="button is-small">
				<span class="icon">
					<i class="fa-solid fa-up-right-from-square"></i>
				</span>
			</button>
		</div>
	</div>

	<form id="repertoireForm" data-element="yes" method="post" target="_blank" action=""></form>

	<div id="analysisGameContainer" data-element="yes" class="is-hidden box p-0">
		<p class="box-header has-text-weight-semibold">Game</p>
		<div id="analysisGameFields" data-element="yes" class="grid-auto-1fr is-align-items-center p-2">
			<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">Opponent:</label>
			<p class="p-2 is-size-6 w-full is-ellipsis"></p>
			<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">Move:</label>
			<p class="p-2 is-size-6 w-full is-ellipsis"></p>
			<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">FEN:</label>
			<p class="p-2 is-size-6 w-full is-ellipsis"></p>
			<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">Link:</label>
			<a href="#" target="_blank" class="p-2 is-size-6 w-full is-ellipsis"></a>
		</div>
	</div>

	<div id="practiceInfoContainer" data-element="yes" class="is-hidden">
		<div class="box p-0">
			<div class="box-header">
				<p class="has-text-weight-semibold">Info</p>
				<button type="button" title="Open in repertoire" class="button is-small" id="practiceInfoOpenInRepertoireButton" data-element="yes">
					<span class="icon">
						<i class="fa-solid fa-up-right-from-square"></i>
					</span>
				</button>
			</div>
			<div id="practiceInfoFields" data-element="yes" class="grid-auto-1fr is-align-items-center p-2">
				<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">ECO:</label>
				<p class="p-2 is-ellipsis"></p>
				<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">PGN:</label>
				<p class="p-2 is-ellipsis"></p>
				<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">FEN:</label>
				<p class="p-2 is-ellipsis"></p>
				<label class="p-2 is-size-7 has-text-weight-semibold has-text-faded">Stats:</label>
				<p class="p-2 is-ellipsis"></p>
			</div>
		</div>

		<div class="is-flex is-justify-content-flex-end mt-2">
			<button type="button" id="analyseGameButton" data-element="yes" class="button is-primary">
				Analyse on Lichess
			</button>
		</div>
	</div>

{% endblock %}

{% block body_end %}
	{{ include('practice/dialogs/save.html.twig') }}
	{{ include('practice/dialogs/ignore.html.twig') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('styles/modal.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		const workerUrl = "{{ asset('js/workers/practice01.js') }}";
	</script>
	<script type="module" src="{{ asset('js/practice.js') }}"></script>
{% endblock %}
