{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-4/5 m-auto text-center p-4">
		<div id="analyseWebsiteButtons" class="inline-flex rounded-md shadow-sm">
			<div>
				<input type="radio" id="siteChessDotComRadio" checked name="website" value="Chess.com" class="sr-only peer">
				<label for="siteChessDotComRadio" class="cursor-pointer inline-block rounded-s-lg text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 disabled:text-gray-300 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-600 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
					Chess.com
				</label>
			</div>
			<div>
				<input type="radio" id="siteLichessRadio" name="website" value="Lichess" class="sr-only peer">
				<label for="siteLichessRadio" class="cursor-pointer inline-block rounded-e-lg text-gray-900 bg-white peer-checked:text-primary-500 peer-checked:bg-primary-50 disabled:text-gray-300 px-4 py-2 text-sm font-medium border border-gray-300 dark:border-slate-600 hover:text-primary-500 hover:bg-primary-200 hover:peer-checked:text-primary-500 hover:peer-checked:bg-primary-200 dark:text-gray-200 dark:bg-slate-900 peer-checked:dark:text-primary-500 peer-checked:dark:bg-slate-950 dark:hover:text-primary-500 dark:hover:bg-slate-700 peer-checked:dark:hover:text-primary-500 peer-checked:dark:hover:bg-slate-700">
					Lichess
				</label>
			</div>
		</div>
	</div>

	<p class="inline-block w-3/5 text-sm font-bold text-gray-900 dark:text-gray-400 p-3 border-b border-zinc-300 dark:border-slate-600">Account</p>

	<div class="flex items-center px-4 py-6">
		<div>
			<label class="block text-sm font-medium text-gray-900 dark:text-gray-300">Username</label>
		</div>
		<div class="mx-3">
			<input id="siteUsername" type="text" name="username" size="40" value="" placeholder="Enter your account name.." class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
		</div>
		<div>
			<button type="button" id="connectButton" class="btn btn-primary">
				Connect
				<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
			</button>
		</div>
	</div>

	<div id="archivesSection">
		<p class="inline-block w-3/5 text-sm font-bold text-gray-900 dark:text-gray-400 p-3 border-b border-zinc-300 dark:border-slate-600">Archives</p>

		<div class="px-4 py-6">

			<p id="archivesDisabledText" class="text-base text-gray-900 dark:text-gray-300">Connect to your account to show the archives.</p>

			<div id="archivesContainer" class="hidden flex items-center">
				<div>
					<label class="block text-sm font-medium text-gray-900 dark:text-gray-300">Year</label>
				</div>
				<div class="mx-3">
					<div class="relative">
						<select id="archiveYearSelect" name="archive_year" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
						</div>
					</div>
				</div>
				<div>
					<label class="block text-sm font-medium text-gray-900 dark:text-gray-300">Month</label>
				</div>
				<div class="mx-3">
					<div class="relative">
						<select id="archiveMonthSelect" name="archive_month" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
						</div>
					</div>
				</div>

				<div>
					<button type="button" id="downloadButton" class="btn btn-primary">
						Download games
						<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="gamesSection" class="hidden">
		<p class="inline-block w-3/5 text-sm font-bold text-gray-900 dark:text-gray-400 p-3 border-b border-zinc-300 dark:border-slate-600">Games</p>

		<div class="px-4 py-6">

			<p id="gamesDisabledText" class="text-base text-gray-900 dark:text-gray-300">Download an archive to show the games.</p>

			<div id="gamesContainer" class="hidden flex items-center">
				<div>
					<label class="block text-sm font-medium text-gray-90 dark:text-gray-300">Time Control</label>
				</div>
				<div class="mx-3">
					<div class="relative">
						<select id="gameTypeSelect" name="game_type" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
						</div>
					</div>
				</div>

				<div>
					<button type="button" id="analyseButton" class="btn btn-primary">
						Analyse games
						<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	{{ include('analyse/dialogs/analyse.html.twig') }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('modal') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('analyse') }}
{% endblock %}
