{% extends 'base.html.twig' %}

{% block body %}

	<div class="is-flex is-flex-direction-column is-align-items-center p-4">
		<p class="has-text-weight-medium has-text-on-background mt-6 mb-4">From which website do you want to download your games?</p>

		<div id="analyseWebsiteButtons" class="boxed-radio-group m-2">
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="website" value="Chess.com" id="siteChessDotComRadio" checked/>
				<label class="boxed-radio-label" for="siteChessDotComRadio"></label>
				<div class="boxed-radio-circle"></div>
				<span class="boxed-radio-text">Chess.com</span>
			</div>
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="website" value="Lichess" id="siteLichessRadio"/>
				<label class="boxed-radio-label" for="siteLichessRadio"></label>
				<div class="boxed-radio-circle"></div>
				<span class="boxed-radio-text">Lichess</span>
			</div>
		</div>

		<p class="has-text-weight-medium has-text-on-background mt-6 mb-4">What is your username there?</p>

		<div>
			<input id="siteUsername" type="text" name="username" value="" placeholder="Enter your account name.." class="input-text-faded"/>
		</div>

		<p class="has-text-weight-medium has-text-on-background mt-6 mb-4">What time period do you want to analyse?</p>

		<div class="boxed-checkbox-group m-2">
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="period_recent" id="periodRecentRadio" checked/>
				<label class="boxed-checkbox-label" for="periodRecentRadio"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">The past year</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="period_older" id="periodOlderRadio"/>
				<label class="boxed-checkbox-label" for="periodOlderRadio"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Older</span>
			</div>
		</div>

		<p class="has-text-weight-medium has-text-on-background mt-6 mb-4">Which time controls do you want to include?</p>

		<div class="boxed-checkbox-group m-2">
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_daily" value="daily" id="typeDailyCheckbox" checked/>
				<label class="boxed-checkbox-label" for="typeDailyCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Daily</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_rapid" value="rapid" id="typeRapidCheckbox" checked/>
				<label class="boxed-checkbox-label" for="typeRapidCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Rapid</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_blitz" value="blitz" id="typeBlitzCheckbox" checked/>
				<label class="boxed-checkbox-label" for="typeBlitzCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Blitz</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_bullet" value="bullet" id="typeBulletCheckbox"/>
				<label class="boxed-checkbox-label" for="typeBulletCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Bullet</span>
			</div>
		</div>

		<div class="mt-6 mb-4">
			<button type="button" id="startButton" disabled class="button is-primary">
				Start analysing
			</button>
		</div>
	</div>

	{{ include('analyse/dialogs/analyse.html.twig') }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('styles/modal.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script type="module" src="{{ asset('js/analyse.js') }}">
{% endblock %}
