{% extends 'base.html.twig' %}

{% block body %}

	<div class="is-flex is-flex-direction-column is-align-items-center p-4">
		<h2 class="title is-size-4 mt-2">Analysis</h2>

		<p class="has-text-weight-medium has-text-on-background is-size-5 mt-5 mb-5">From which website do you want to download your games?</p>

		<div id="analyseWebsiteButtons" data-element="yes" class="boxed-radio-group">
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="website" value="Chess.com" id="siteChessDotComRadio" data-element="yes" checked/>
				<label class="boxed-radio-label" for="siteChessDotComRadio"></label>
				<div class="boxed-radio-circle"></div>
				<span class="boxed-radio-text">Chess.com</span>
			</div>
			<div class="boxed-radio">
				<input class="is-hidden" type="radio" name="website" value="Lichess" id="siteLichessRadio" data-element="yes"/>
				<label class="boxed-radio-label" for="siteLichessRadio"></label>
				<div class="boxed-radio-circle"></div>
				<span class="boxed-radio-text">Lichess</span>
			</div>
		</div>

		<p class="has-text-weight-medium has-text-on-background is-size-5 mt-6 mb-5">What is your username there?</p>

		<div>
			<input id="siteUsername" data-element="yes" type="text" name="username" value="" placeholder="Enter your account name.." class="input"/>
		</div>

		<p class="has-text-weight-medium has-text-on-background is-size-5 mt-6 mb-5">What time period do you want to analyse?</p>

		<div class="boxed-checkbox-group">
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="period_recent" id="periodRecentRadio" data-element="yes" checked/>
				<label class="boxed-checkbox-label" for="periodRecentRadio"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">The past year</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="period_older" id="periodOlderRadio" data-element="yes"/>
				<label class="boxed-checkbox-label" for="periodOlderRadio"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Older</span>
			</div>
		</div>

		<p class="has-text-weight-medium has-text-on-background is-size-5 mt-6 mb-5">Which time controls do you want to include?</p>

		<div class="boxed-checkbox-group">
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_daily" value="daily" id="typeDailyCheckbox" data-element="yes" checked/>
				<label class="boxed-checkbox-label" for="typeDailyCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Daily</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_rapid" value="rapid" id="typeRapidCheckbox" data-element="yes" checked/>
				<label class="boxed-checkbox-label" for="typeRapidCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Rapid</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_blitz" value="blitz" id="typeBlitzCheckbox" data-element="yes" checked/>
				<label class="boxed-checkbox-label" for="typeBlitzCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Blitz</span>
			</div>
			<div class="boxed-checkbox">
				<input class="is-hidden" type="checkbox" name="type_bullet" value="bullet" id="typeBulletCheckbox" data-element="yes"/>
				<label class="boxed-checkbox-label" for="typeBulletCheckbox"></label>
				<div class="boxed-checkbox-checkmark">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<div class="boxed-checkbox-circle"></div>
				<span class="boxed-checkbox-text">Bullet</span>
			</div>
		</div>

		<div class="mt-6 mb-4">
			<button type="button" id="startButton" data-element="yes" disabled class="button is-primary">
				Start analysing
			</button>
		</div>
	</div>

	{{ include('analyse/dialogs/analyse.html.twig') }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('styles/modal.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script type="module" src="{{ asset('js/analyse.js') }}"></script>
{% endblock %}
